/* Highlighted Whitespace */
.whitespace {
    background: linear-gradient(
        45deg,
        rgba(11, 114, 137, 0.6),
        rgba(255, 255, 0, 0.6)
    );
    font-size: 25px;
}

/* Correct & Incorrect Typing */
.correct {
    background: linear-gradient(50deg, rgb(2, 165, 2), rgb(30, 122, 70));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.incorrect {
    background: linear-gradient(50deg, red, rgb(230, 71, 42));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Show & hide */

.show{
    display: flex;
}

.hidden{
    display: none;
}